/**
* @name Discord
* @author Salus
* @version 6.9
* @description Very cool theme with classic discord colors.
*/
@import url("https://salus2224.github.io/Discord-Theme/aerobase_modified.css");
@import url("https://fonts.googleapis.com/css?family=Quicksand&amp;display=swap");
@import url("https://salus2224.github.io/Discord-Theme/HoverMemberList.css");
@import url("https://salus2224.github.io/Discord-Theme/NoOffline.css");
@import url("https://salus2224.github.io/Discord-Theme/HorizontalServerList.css");
:root {
--title: "Discord";
--background: url("https://salus2224.github.io/Discord-Theme/Background.png");
--font: "Quicksand";
--time: 10s;
--Online: rgb(0, 255, 136);
--Idle: rgb(0, 99, 156);
--Unavailable: rgb(228, 15, 0);
--Offline: rgb(90, 95, 100);
--grey: rgb(77, 70, 85);
--darkgrey: rgb(18, 18, 18);
--ChatBox: transparent;
--Sidebar: transparent;
--SendMessage: transparent;
--logo: url("https://salus2224.github.io/Discord-Theme/Logo.png");
--HoverMessage: transparent;
--JoinUs: "Hey! Wanna have some fun.. Join US !";
--AddNewServer: "➕ Add a new server";
--Close: "✖️";
--Resize: "▭";
--Hide: "➖";
--ProfilePic: "Watch me";
--Unread: "";
--Options: "⚙️";
--Emoji: "🙂";
--EmojiHover: "😜";
--Channel: "💬";
--Voice: "🔊";
--Community: "";
--WelcomeMessage: "";
--Watermark: "";
--EditStatus: "Make a Custom Status";
--Folders: url("https://salus2224.github.io/Discord-Theme/icon.png");
--FoldersOpen: url("https://salus2224.github.io/Discord-Theme/icon.png");
--Micro: "🎙️";
--Headset: "🎧";
--TitleBG: transparent;
--ServerSize: 45px;
--animation: rgb(200, 200, 200), rgb(200, 200, 200);
--grey5: rgba(77, 70, 85, .5);
--darkgrey5: rgba(18, 18, 18, .75);
--Primary: rgb(200, 200, 200);
}
